<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>536712341557-e7pnlakr5ffe2c6429cr51o4g1ohpohq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.536712341557-e7pnlakr5ffe2c6429cr51o4g1ohpohq</string>
	<key>API_KEY</key>
	<string>AIzaSyBX7IKiKABhxEOr4ttjdWoxxaCWG2-MUZs</string>
	<key>GCM_SENDER_ID</key>
	<string>536712341557</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ginosesia.SocialApp</string>
	<key>PROJECT_ID</key>
	<string>social-app-fc718</string>
	<key>STORAGE_BUCKET</key>
	<string>social-app-fc718.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:536712341557:ios:45b8288795cdeac8f8e97c</string>
	<key>DATABASE_URL</key>
	<string>https://social-app-fc718.firebaseio.com</string>
</dict>
</plist>